.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.gallery {
  display: flex;
  flex-direction: column;
}

.mainImageContainer {
  width: 100%;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 12px;
  max-height: 100px;
}

.thumbnail {
  aspect-ratio: 1 / 1;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.2s ease, transform 0.2s ease;
  background-color: var(--color-surface);
}

.thumbnail:hover {
  transform: scale(1.05);
}

.thumbnail.activeThumbnail {
  border-color: var(--color-accent-primary);
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descriptionSection {
  background-color: var(--color-surface);
  padding: 24px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
}

.descriptionSection h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-border);
}

.descriptionSection p {
  line-height: 1.7;
  color: var(--color-text-secondary);
}

/* .sidebar {
} */

.details {
  top: 107px;
  position: sticky;
  padding: 24px;
  background-color: var(--color-surface);
  border-radius: 8px;
  border: 1px solid var(--color-border);
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.category {
  font-size: 1.1rem;
  color: var(--color-accent-primary);
  margin-bottom: 24px;
}

.downloadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 16px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  background-color: var(--color-accent-primary);
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease, opacity 0.2s ease;
}

.downloadButton:hover {
  background-color: var(--color-accent-hover);
}

.downloadButton:disabled {
  background-color: var(--color-accent-hover);
  cursor: not-allowed;
  opacity: 0.7;
}

.metaDetails {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.metaItem {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.metaItem span:first-child {
  color: var(--color-text-secondary);
}

.metaItem span:last-child {
  font-weight: 500;
}

.cancelButton {
  background-color: var(--color-cancel);
}

.cancelButton:hover {
  background-color: #c82333;
}
