.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.headerWrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: var(--color-surface);
  border-bottom: 1px solid var(--color-border);

  padding-left: 32px;
  padding-right: 32px;
}

.headerContent {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.mainContent {
  flex-grow: 1;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 32px;
}
